---
layout: default
---

{%- for post in paginator.posts -%}
  <h1 class="h4">
    <a class="post-link" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
    {% if post.encrypted %}
      <small class="text-muted">(protected)</small>
    {% endif %}
    <small class="text-muted">{{ post.date | date: "%b %-d, %Y" }}</small>
  </h1>
  <small class="text-muted"><em>{{ post.categories }}</em></small>
  <div>
    {{ post.content }}
  </div>
{%- endfor -%}

<div>
  <ul class="pagination">
    {% if paginator.total_pages > 1 %}
      {% if paginator.previous_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">&laquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="page-item active"><a href="#" class="page-link">{{ paginator.page }}</a></li>
        {% elsif page == 1 %}
          <li class="page-item"><a class="page-link" href="{{ '/' | relative_url }}">{{ page }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">&raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      {% endif %}
    {% endif %}
  </ul>
</div>
